[user]
	name = Adam
	email = adam.genshaft@globality-contractor.com
[push]
	followTags = true
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = false
[webui]
	autoupdate = true
[alias]
	webui = !/Users/oleggenshaft/.git-webui/release/libexec/git-core/git-webui
	co = checkout
	br = branch
	ci = commit
	st = status
	rb = rebase
	aa = add -A
	amend = commit --amend
	amend-push = !git aa && git amend --no-edit && git push --force-with-lease 
	amend-all = !git aa && git amend --no-edit
	branch-name = !git rev-parse --abbrev-ref HEAD
	publish = !git push -u origin $(git branch-name)

[rerere]
	enabled = true
